# Скопируйте в .env и заполните

# Основной домен
BASE_DOMAIN=uqqi.ru

# Секретный ключ для сессий (замените на случайную строку)
SECRET_KEY=замените-на-случайную-строку-минимум-32-символа

# Путь к базе данных
DATABASE_URL=sqlite:///./uqqi.db

# Путь для загрузки фото
UPLOAD_DIR=./static/uploads

# Режим отладки (True/False)
DEBUG=False

# Панель владельца
PANEL_PATH=BcJf69nkkikxqBj8
PANEL_USER=admin
PANEL_PASSWORD=qsc123zx
